@media (max-width: 1400px) {  }

@media (max-width: 1200.98px) { 
 }

@media (max-width: 992px) { 
    .main_menu{
        top:0;
    }
    .main_menu .container .navbar-brand{
        width: 185px;
        height: 50px;
    }
    .main_menu .container .navbar-brand img{
        width: 100px;
    }
    .main_menu .container button span{
        background: rgb(0, 0, 0);
        height: 3px;
        display: block;
        margin: 2px 0px;
    }
    .main_menu .container .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }
    .main_menu .container .nav-bar-row{
        width: 100%;
        text-align: center;
    }
    .main_menu .container .nav-bar-row ul{
        width: 100%;
        padding: 0px;
    }
    .main_menu .container .nav-bar-row ul li{
        border-bottom: 1px solid white;
        background: blue;
       
    }
    .main_menu .container .nav-bar-row ul li a{
        color: white;
    }
    .main_menu .container .nav-bar-row ul li:last-child{
        border: none;
    }
}

@media (max-width: 768px) { 
    .main_menu{
        top:0;
    }
    .main_menu .container .navbar-brand{
        width: 185px;
        height: 50px;
    }
    .main_menu .container .navbar-brand img{
        width: 100px;
    }
    .main_menu .container button span{
        background: rgb(0, 0, 0);
        height: 3px;
        display: block;
        margin: 2px 0px;
    }
    .main_menu .container .navbar-toggler:focus {
        box-shadow: 0 0 0 0;
    }
    .main_menu .container .nav-bar-row{
        width: 100%;
        text-align: center;
    }
    .main_menu .container .nav-bar-row ul{
        width: 100%;
        padding: 0px;
    }
    .main_menu .container .nav-bar-row ul li{
        border-bottom: 1px solid white;
        background: blue;
       
    }
    .main_menu .container .nav-bar-row ul li a{
        color: white;
    }
    .main_menu .container .nav-bar-row ul li:last-child{
        border: none;
    }
}
@media (max-width: 576px) { 
.copy-text p{
    font-size: 14px;
    font-weight: 400;
}
}