@media only screen and (max-width:1024px){
          ul.create_gig i {
                    margin-left: 0.1rem !important;
                }
                .gig_detials p {
                    font-size: .8rem;
                }
                ul.create_gig li {
                    font-size: .8rem;
                }
                input#flexSwitchCheckChecked {
                    float: right;
                    width: 19%;
                    box-shadow: none;
                }
                a.save_btn {
                    width: 100%;
                    font-size: 0.9rem;
                    padding: 8px 4px;
                }
                .img_gellary i {
                    font-size: 2rem;
                    margin-left: -1rem;
                }
                .textarea textarea {
                    width:9.4rem;
                }
                .textarea select {
                    font-size: .7rem;
                }
                #modification p {
                    font-size: .8rem;
                }
                #modification h5 {
                    font-size: 1.1rem;
                }
                #gigs header label {
                    font-size: .9rem;
                }
                
                #gigs header input {
                    width: 1.5rem;
                }
                .avility {
                    margin-left: 4%;
                }
                .discription textarea {
                    width: 45vw;
                    resize: none;
                }
                .add_new {
                    margin-left: 44%;
                }
                #likes .pagination {
                    padding-left: 2.7rem;
                }
                #gigs,#paused,#denied,#draft,#modification,#request p {
                    font-size: 82%;
                }
                .description p {
                    margin-right: 2.5rem;
                    margin-top: 0.3rem;
                }
}
@media only screen and (max-width:768px){
                section#about {
                    position: relative;
                }
                .create-gig{
                    padding: 0px 0rem !important;
                }
                 html{
                           font-size: 80%;
                 }
                 .avility {
                    margin-left: -4%;
                }
                .gig_detials textarea {
                    width: 92vw;
                }
                .textarea textarea {
                    width: 10.3rem;
                }
                .form-switch {
                    padding-left: 47%;
                }
                a.save_btn {
                    width: 8rem;
                    margin-left: -0.8rem;
                }
                 .new_gig{
                    margin-left: 50%;
                    transform: translate(-50%);
                }
                #gigs header label {
                    font-size: 1rem;
                    margin-left: -2rem;
                }
                html{
                          font-size: 90%;
                }
                .profile_img {
                    position: absolute;
                    width: 11rem;
                    top: 20.3%;
                    right: 50%;
                    transform: translateX(50%);
                }
                .profile_name {
                    margin-top: 4rem;
                }
                .input_price {
                    width: 10.7rem;
                    margin-left: -9%;
                }
                .option_wraper {
                    margin-left: 4%;
                }

}
@media only screen and (max-width:480px){
                .avility {
                    margin-left: -1%;
                    margin-top: 1rem;
                }
                .shop_select {
                    margin-left: 89%;
                }
                a.save_btn {
                    width: 8rem;
                    margin-left: 15.2rem;
                }
                .add_new {
                    margin-left: 38%;
                }
                .add_news {
                    margin-left: 38%;
                }
                .discription textarea {
                    width: 93vw;
                }
                p.gig.new_gigs-p {
                    margin-top: 1rem;
                }
                .profile_img {
                    top: 3.3%;
                }
                .textarea textarea {
                    width: 23.5rem;
                }
                .pricing_chakebox {
                    margin-left: 48%;
                    margin-bottom: 0;
                }
                .form-switch {
                    padding-left: 28%;
                }
                .pricing_chakebox {
                    margin-left:0;
                    margin-bottom: 0;
                }
                .input_price {
                    width: 23.39rem;
                    margin-left: -3%;
                }
                .shop_select {
                    margin-left: 1rem;
                }
}
@media only screen and (max-width:390px){
               .profile_img {
                 top: 6.3%;
                 width: 8rem;
               }
}
